

.HP-header-right {
    display: flex;
    flex-direction: row;
}

.HP-contact-a {
    border: 0px;
    text-decoration: none;
    font-family: "Sansation-Light";
    background-color: transparent;
    font-size: 22px;
    color: white;
    height: 34px;
    width: 80px;
    margin-right: 50px;
    margin-top: 26px;
    transition: color .4s ease-in;
    cursor: pointer;
}

.HP-contact-a:hover {

    color: gray;
}

.HP-invovled-href {
    display: block;
    width: 140px;
    margin: 26px;
    margin-right: 80px;
    text-decoration: none;
    color: white;
    font-family: "Sansation-Light";
    transition: color .4s ease-in;
}

.HP-invovled-href:hover {
    color: gray;
}



@media (max-width: 480px){

    .HP-header-right {
        width: 160px;
    }



    .HP-invovled-href{
        display: block;
        width: 150px;
        height: 20px;
        margin-top: 26px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        /* display: flex; */
        justify-content: left;
        padding-right: 0px;
        margin-right: 0px;
        text-align: right;
        font-size: 18px;
    }


    .HP-contact-a {
        text-align: right;
        font-size: 18px;
        margin-right: 0px;
        margin-top: 0px;
        width: 150px;
        padding-right: 0px;
        padding-top: 10px;
    }


    .HP-header-right {
        flex-direction: column;
    }
  
  }