

.HP-header-right {
    display: flex;
    flex-direction: row;
}

.HP-contact {
    border: 0px;
    font-family: "Sansation-Light";
    background-color: transparent;
    font-size: 22px;
    color: white;
    height: 34px;
    width: 80px;
    margin-right: 50px;
    margin-top: 24px;
    transition: color .4s ease-in;
    cursor: pointer;
}

.HP-contact:hover {

    color: gray;
}


.HP-involved {
    text-align: left;
    border: 0px;
    font-family: "Sansation-Light";
    background-color: transparent;
    font-size: 22px;
    color: white;
    height: 345x;
    width: 156px;
    transition: color .4s ease-in;
    cursor: pointer;
}

.HP-involved:hover {

    color: gray;
}

.HP-invovled-href{
    display: block;
    width: 80px;
    height: 20px;
    margin: 26px;
    margin-right: 120px;
}


@media (max-width: 460px){

    .HP-header-right {
        width: 160px;
    }

    .HP-involved {
        text-align: right;
        font-size: 15px;
    }

    .HP-invovled-href{
        display: block;
        width: 150px;
        height: 20px;
        margin-top: 26px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        /* display: flex; */
        justify-content: left;
        padding-right: 10px;
        margin-right: 0px;
    }

    .HP-contact-a {
        margin-right: 0px;
    }

    .HP-contact {
        text-align: right;
        font-size: 15px;
        margin-right: 0px;
        margin-top: 0px;
        width: 150px;
        padding-right: 9px;
        padding-top: 10px;
    }


    .HP-header-right {
        flex-direction: column;
    }
  
  }