.App {
  text-align: center;
}

.App-logo {
  height: 105px;
  width: 105px;
  pointer-events: none;
  margin-top: 10;
}

.App-logodiv {
  margin-left: 30px;
  padding-top: 30px;
}


.App-headerbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* .App-title {
  width: 1000;
  font-size: 80;
  padding-bottom: 0;
  font-family: "Sansation-Light";
  letter-spacing: 3;
  display: inline-block;
} */

.App-title {
  font-family: "Sansation-Light";
  font-size:calc(18px + 5.5vw);
  min-width: 400px;
  max-width: 1000px;
  padding-bottom: 0;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: calc(150px - 7vw);
  letter-spacing: 4;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-maindiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}
