.App {
  text-align: center;
}

/* .App-title {
  width: 1000;
  font-size: 80;
  padding-bottom: 0;
  font-family: "Sansation-Light";
  letter-spacing: 3;
  display: inline-block;
} */


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-maindiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}


@media (max-width: 480px){
  .App-logo {

    width: 70px;
    height: 70px;
    pointer-events: none;
    margin-top: 10;
  }

}

